{% extends 'main-empty.html.twig' %}

{% block page_header %}Hallo {{ names }} {% endblock page_header %}

{% block page_center %}
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-image">
                    <a href="{{ asset('dform') }}">
                        <img src="{{ asset('images/img1.jpg') }}">
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title">Dienstfahrt</span>
                </div>
                <div class="card-action">
                    <a href="{{ asset('dform') }}">Anmeldung</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-image">
                    <a href="{{ asset('history') }}">
                        <img src="{{ asset('images/img2.jpg') }}">
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title">Dienstfahrt Historie</span>
                </div>
                <div class="card-action">
                    <a href="{{ asset('history') }}">Anschauen</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}